/**  app.wxss  **/
@import "./unocss.wxss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200rpx 0;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
}
